In [2]:
import pandas as pd
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/BasicOld.aspx'
tables = pd.read_html( url )
tables[0].to_excel("KBO_타자기록.xlsx")
df = pd.DataFrame( tables[0] )
print( df )

    순위  선수명   팀명    AVG  G  PA  AB   H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
0    1  변우혁  KIA  0.429  8  25  21   9   1   0   1    3   0   0   3    1   6
1    2  문성주   LG  0.400  8  37  35  14   2   0   1    7   0   1   2    0   1
2    3  김도영  KIA  0.370  7  30  27  10   1   0   2    7   2   0   3    0   3
3    4  서건창   LG  0.333  7  29  27   9   2   0   0    3   3   0   2    0   4
4    4  조용호   KT  0.333  8  24  21   7   1   0   0    2   1   0   3    0   2
5    4  김태훈   삼성  0.333  8  25  24   8   1   0   2   10   0   0   1    0   7
6    7  홍창기   LG  0.318  8  32  22   7   0   0   0    2   5   1   7    2   6
7    8  송찬의   LG  0.276  8  34  29   8   2   1   2    8   0   1   4    0   4
8    9  피렐라   삼성  0.273  8  24  22   6   1   1   1    4   0   1   2    0   4
9   10  김대한   두산  0.269  8  28  26   7   5   1   1    3   0   0   1    1   6
10  11  김호령  KIA  0.250  8  26  24   6   1   0   0    2   2   0   2    0   8
11  12  이재현   삼성  0.227  8  25  22   5   0   0   0    2   0   0   1    0   5
12  13  황대인  KIA  0.182  7  25  22   4   1   0   0    3   0   0   2    0   4
13  13  오재일   삼성  0.182  8  26  22   4   2   0   0    5   0   0   2    0   6
14  15  알포드   KT  0.167  8  25  24   4   1   0   1    5   0   0   1    0   7
15  16  문보경   LG  0.158  8  28  19   3   1   0   0    0   1   0   9    0   2
16  17  손아섭   NC  0.143  8  26  21   3   1   0   0    1   0   0   5    0   7
17  18  천재환   NC  0.087  8  24  23   2   0   0   0    0   0   0   1    0   9

    GDP  E
0     0  0
1     0  0
2     1  2
3     0  2
4     0  0
5     0  2
6     1  0
7     1  3
8     1  0
9     1  0
10    0  0
11    0  2
12    0  0
13    0  0
14    2  0
15    0  0
16    1  0
17    0  2

In [3]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup as bs

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}
url = 'https://www.melon.com/chart/index.htm'

response = requests.get(url, headers=headers)
html = bs(response.text, "html.parser")
html_table = html.select("table")
tables = pd.read_html(str(html_table))
#print(tables)
print(tables[0].info())
chart = tables[0].drop( tables[0].columns[ [0,3] ], axis=1)
print(chart)  
print( chart['곡정보'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   순위          100 non-null    object
 2   순위등락        100 non-null    object
 3   앨범이미지       0 non-null      float64
 4   곡 상세가기      100 non-null    object
 5   곡정보         100 non-null    object
 6   앨범          100 non-null    object
 7   좋아요         100 non-null    object
 8   듣기          100 non-null    object
 9   담기          100 non-null    object
 10  다운          100 non-null    object
 11  뮤비          100 non-null    object
dtypes: float64(2), object(10)
memory usage: 9.5+ KB
None
      순위     순위등락 곡 상세가기                                                곡정보  \
0     1위  순위 동일 0    곡정보                                     Ditto NewJeans
1     2위  순위 동일 0    곡정보                                       OMG NewJeans
2     3위  순위 동일 0    곡정보                                  Hype boy NewJeans
3     4위  순위 동일 0    곡정보                             Teddy Bear STAYC(스테이씨)
4     5위  순위 동일 0    곡정보                파이팅 해야지 (Feat. 이영지) 부석순 (SEVENTEEN)
..   ...      ...    ...                                                ...
95   96위  단계 상승 1    곡정보                  봄여름가을겨울 (Still Life) BIGBANG (빅뱅)
96   97위  단계 상승 2    곡정보                                   밤하늘의 별을(2020) 경서
97   98위    순위 진입    곡정보        Jumper (Feat. 개코, MINO) 코드 쿤스트 (CODE KUNST)
98   99위  단계 하락 1    곡정보                                떠나보낼 준비해 둘걸 그랬어 임한별
99  100위    순위 진입    곡정보  마이웨이 (MY WAY) (Prod. R.Tee) 저스디스 (JUSTHIS), R....

                                    앨범         좋아요  듣기  담기    다운     뮤비
0                       NewJeans 'OMG'  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
1                       NewJeans 'OMG'  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
2          NewJeans 1st EP 'New Jeans'  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
3                           Teddy Bear  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
4   부석순 1st Single Album 'SECOND WIND'  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
..                                 ...         ...  ..  ..   ...    ...
95                봄여름가을겨울 (Still Life)  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
96                       밤하늘의 별을(2020)  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
97                    Remember Archive  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
98                     떠나보낼 준비해 둘걸 그랬어  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오
99                  쇼미더머니 11 Episode 1  좋아요 총건수  0  듣기  담기  다운로드  뮤직비디오

[100 rows x 10 columns]
0                                        Ditto NewJeans
1                                          OMG NewJeans
2                                     Hype boy NewJeans
3                                Teddy Bear STAYC(스테이씨)
4                   파이팅 해야지 (Feat. 이영지) 부석순 (SEVENTEEN)
                            ...
95                    봄여름가을겨울 (Still Life) BIGBANG (빅뱅)
96                                     밤하늘의 별을(2020) 경서
97          Jumper (Feat. 개코, MINO) 코드 쿤스트 (CODE KUNST)
98                                  떠나보낼 준비해 둘걸 그랬어 임한별
99    마이웨이 (MY WAY) (Prod. R.Tee) 저스디스 (JUSTHIS), R....
Name: 곡정보, Length: 100, dtype: object

In [4]:
# data frame 생성

# 딕셔너리로 만들기
data = {
    'year' : [2016, 2017, 2018],
    'GDP rate' : [2.8, 3.1, 3.0],
    'GDP' : ['1.637M', '1.73M', '1.83M']
}

df = pd.DataFrame(data)
print(df)

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [5]:
df['year']

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [7]:
df.iloc[0]

year          2016
GDP rate       2.8
GDP         1.637M
Name: 0, dtype: object

In [8]:
df2 = df.drop([0])
print(df2)

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [ ]:
print(df[df['GDP rate'] > 3.0]) # 행/열 번호 대신 조건식을 넣어 조건에 맞는 출력을 할 수 있다

In [6]:
df.describe()

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000