In [ ]:
# 일반 함수 정의
def f(x):
  return x**3

# 함수 호출
print(f(5))

125

In [ ]:
f = lambda x : x**3
print(f(5))

125

In [ ]:
print( (lambda x : x**3 )( int(input()) ) )

3
27

In [ ]:
print( (lambda r : 3.14*r*r)(int(input())) )

6
113.03999999999999

In [ ]:
a = list( map(lambda x : x**2, range(5)) )
print(a)

[0, 1, 4, 9, 16]

In [ ]:
list( filter(lambda x : x<5, range(10)) )

[0, 1, 2, 3, 4]

In [ ]:
a = [ 1*2 for i in range(10) ]
print(a)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
b = [ [i*j for j in range(5)] for i in range(5) ]
print(b)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12], [0, 4, 8, 12, 16]]

In [ ]:
b = [ [1 if i==j else 0 for j in range(5)] for i in range(5)]
print(b)

# 조건문이 포함된 반복문도 리스트에 넣을 수 있다

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

In [ ]:
s = input()
s = s.split(' ')
list( map(lambda s: s.capitalize(), s))
s

hello world

['hello', 'world']